
<header>
  <div style="display: flex; flex-direction: column; width: 100%;">

    <!-- ZEILE 1: Titel + Icons -->
    <div style="display: flex; align-items: center; width: 100%;">
      <h1 style="margin-left: 20px; margin-bottom: 25px;">sps-nerdarray</h1>
      <div style="margin-left: auto; margin-top:30px; margin-right:30px;display: flex; gap: 12px;">
        <a href="https://www.facebook.com/profile.php?id=100082499066145" target="_blank" aria-label="Facebook">
          {% include "icons/facebook.svg" %}
        </a>
        <a href="https://www.linkedin.com/in/sps-nerdarray-2045b72ab" target="_blank" aria-label="LinkedIn">
          {% include "icons/linkedin.svg" %}
        </a>
        <a href="https://open.spotify.com/show/7AcioaN1MO65zWvUKPryPG?si=4f666a924dfb4fc2" target="_blank" aria-label="Spotify">
          {% include "icons/spotify.svg" %}
        </a>
        <a href="https://podcasts.apple.com/de/podcast/sps-nerdarray/id1608239478" target="_blank" aria-label="Apple Podcasts">
          {% include "icons/apple-podcasts.svg" %}
        </a>
      </div>
    </div>

    <!-- ZEILE 2: Subtitel + Navigation -->
    <div style="display: flex; align-items: center; width: 100%;">
      <a class="subtitle" style="margin-left: 20px;">
        Ein deutschsprachiger Podcast über sps-prgrammierung
      </a>
    </div>
      <nav style="margin-left: auto; margin-right: 0px; text-align: right;">
        <a href="/">HOME</a> |
        <a href="/episodes/">Folgen</a> |
        <a href="/about/">Über uns</a> |
        <a href="/Hilfreiches/">Hilfreiches</a>
      </nav>
    </div>

  </div>
</header>
